@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

section {
    width: 100%;
}

section::after {
    content: "Esse site foi imprimido no momento em que estudo HTML e CSS no cursoemvideo"
}