@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 1.2em;
}

header > h1 {
    background-color: brown;
    color: white;
    text-align: center;
}

menu ul {
    background-color: #332D2B;
}

menu li {
    display: inline-block;
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
section {
    display: block;
    margin: auto;
    width: 600px;
}
