@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    margin: 0px;   
    padding: 0px;
    font-size: 1em;
}

:root {
    --fonte1: Carattere, sans-serif;
    --fonte2: "Protest Strike", sans-serif; ;
    --cor1: #E0180D ;
    --cor2: #E1991B;
    --cor3: #7F3C28;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: var(--cor3);
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

section {
    color: var(--cor2);
    text-align: center;
    font-family: var(--fonte1);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.imagem {
    color: white;
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    background-image: url("../imagens/circus-retro-poster-tent.jpg");
    background-position: center center;
}

section#img02 {
    background-image: url("../imagens/images.jpg");
    background-position: top center;
}

section.imagem > p {
    background-color: 0, 0, 0, 0.514;
    text-shadow: 1px 1px 0px black;
    display:inline-block;
    margin: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.253);
}