@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

root {
    --fonte1: "Protest Strike", sans-serif;
    --fonte2: ;
    --fonte3: ;
}

header > h1 {
    font-family: var(--fonte1);
    font-size:
}