@charset "UTF-8";

body {
    background-image: url("imagens/wallpaper001.jpg");
}

.quadrado {
    height: 300px;
    width: 300px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
}

#q1 {
    background-color: skyblue;
}

#q2 {
    background-image: linear-gradient(to bottom yellow red);
}

#q3 {
    background-image: url("imagens/wallpaper003.jpg");
}

