@charset "UTF-8"

* {
    font-family:Arial, Helvetica, sans-serif;
} 

body {
    background-image: linear-gradient(to right, #F2D4C9, #D9A38F);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(71, 10, 3, 0.514);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#8C1308 ;
    text-align: center ;
    text-shadow: 1px 1px 2px rgba(80, 11, 5, 0.514)  ;
}

h2 {
    color: #BF544B ;
}

p {
    text-align: justify;
}